@page "/"
@inject HttpClient Http


@if (Main == null)

{

<p>Calling the API has run into a problem.</p>
<p>A reminder that the API can only make 10 requests per minute.</p>

}
else
{
<div class="mb-2 p-3">
    Choose a country's domestic league you'd like to see the results for:
    <select class="form-control" @bind="League" @onclick="@GetDataAsync">
        <option selected disabled value="-1"> Choose a Football League!</option>
        <option value=PL> English Premier League</option>
        <option value=BL1> German Bundesliga</option>
        <option value=PD> Spanish La Liga</option>
        <option value=SA> Italian Serie A</option>
        <option value=FL1> French Ligue 1</option>
    </select>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Position</th>
                <th>Club</th>
                <th>Played</th>
                <th>Won</th>
                <th>Drawn</th>
                <th>Lost</th>
                <th>GF</th>
                <th>GA</th>
                <th>GD</th>
                <th>Points</th>
                <th>Form</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var standing in Main.standings)
            {
                @foreach (var row in standing.table)
                {
                    <tr>
                        <td>@row.position</td>
                        <td>
                            <img src=@row.team.crestUrl style="width:2.3em; height:3em;"> &#8203; @row.team.name
                        </td>
                        <td>@row.playedGames</td>
                        <td>@row.won</td>
                        <td>@row.draw</td>
                        <td>@row.lost</td>
                        <td>@row.goalsFor</td>
                        <td>@row.goalsAgainst</td>
                        <td>@row.goalDifference</td>
                        <td>@row.points</td>
                        <td>@row.form</td>
                    </tr>
                }
            }
        </tbody>
    </table>

}