@page "/"
@inject HttpClient Http
@inject IWebAssemblyHostEnvironment hostEnv


@if (Main == null)
{

    @if (hostEnv.IsDevelopment())
    {
        <p>Error: @ErrorMessage </p>
        <p>Have you set the parameters necessary in launchSettings.json?</p>
    }
    else
    {
        <p>Calling the API has run into a problem.</p>
        <p>A reminder that the API can only make 10 requests per minute.</p>
    }

}
else
{
    <div class="mb-2 p-3">
        <select class="form-control" @bind="League" @onclick="@GetDataAsync">
            <option selected disabled value="-1"> Choose a Football League!</option>
            <option value=PL> English Premier League</option>
            <option value=BL1> German Bundesliga</option>
            <option value=PD> Spanish La Liga</option>
            <option value=SA> Italian Serie A</option>
            <option value=FL1> French Ligue 1</option>
        </select>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Position</th>
                <th>Club</th>
                <th>Played</th>
                <th>Won</th>
                <th>Drawn</th>
                <th>Lost</th>
                <th>GF</th>
                <th>GA</th>
                <th>GD</th>
                <th>Points</th>
                <th>Form</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Main.standings.Count; i++)
            {
                @for (int j = 0; j < Main.standings[i].table.Count; j++)
                {
                    <tr>
                        <td>@Main.standings[i].table[j].position</td>
                        <td> <img src=@Main.standings[i].table[j].team.crestUrl style="width:2.3em; height:3em;"> &#8203; @Main.standings[i].table[j].team.name</td>
                        <td>@Main.standings[i].table[j].playedGames</td>
                        <td>@Main.standings[i].table[j].won</td>
                        <td>@Main.standings[i].table[j].draw</td>
                        <td>@Main.standings[i].table[j].lost</td>
                        <td>@Main.standings[i].table[j].goalsFor</td>
                        <td>@Main.standings[i].table[j].goalsAgainst</td>
                        <td>@Main.standings[i].table[j].goalDifference</td>
                        <td>@Main.standings[i].table[j].points</td>
                        <td>@Main.standings[i].table[j].form</td>
                    </tr>
                }
            }
        </tbody>
    </table>

}